<header>
  <h1>Mon premier blog en Ruby on Rails</h1>
  <p>Bienvenue sur mon site !</p>
</header>

<main>
  <p>Ceci est ma toute première application Ruby on Rails !</p>
</main>

<footer>
  <p>Réalisé avec l'aide de mon super formateur</p>
</footer>
